In [2]:
import numpy as np
import pandas as pd 
import os

In [5]:
sales_data = pd.read_csv('sales_train_v2.csv')
test_data = pd.read_csv('test.csv')

In [6]:
sales_data.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [9]:
sales_data['date'] = pd.to_datetime(sales_data['date'],format = '%d.%m.%Y')

In [10]:
dataset = sales_data.pivot_table(index = ['shop_id','item_id'],values = ['item_cnt_day'],columns = ['date_block_num'],fill_value = 0,aggfunc='sum')

In [12]:
dataset.reset_index(inplace = True)

In [13]:
dataset.head()

               shop_id item_id item_cnt_day                        ...        \
date_block_num                            0   1  2  3  4  5  6  7  ... 24 25
0                    0      30            0  31  0  0  0  0  0  0  ...  0  0
1                    0      31            0  11  0  0  0  0  0  0  ...  0  0
2                    0      32            6  10  0  0  0  0  0  0  ...  0  0
3                    0      33            3   3  0  0  0  0  0  0  ...  0  0
4                    0      35            1  14  0  0  0  0  0  0  ...  0  0


date_block_num 26 27 28 29 30 31 32 33
0               0  0  0  0  0  0  0  0
1               0  0  0  0  0  0  0  0
2               0  0  0  0  0  0  0  0
3               0  0  0  0  0  0  0  0
4               0  0  0  0  0  0  0  0

[5 rows x 36 columns]

In [14]:
dataset = pd.merge(test_data,dataset,on = ['item_id','shop_id'],how = 'left')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:617: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [15]:
dataset.fillna(0,inplace = True)
# lets check our data now 
dataset.head()

,ID,shop_id,item_id,"(item_cnt_day, 0)","(item_cnt_day, 1)","(item_cnt_day, 2)","(item_cnt_day, 3)","(item_cnt_day, 4)","(item_cnt_day, 5)","(item_cnt_day, 6)",...,"(item_cnt_day, 24)","(item_cnt_day, 25)","(item_cnt_day, 26)","(item_cnt_day, 27)","(item_cnt_day, 28)","(item_cnt_day, 29)","(item_cnt_day, 30)","(item_cnt_day, 31)","(item_cnt_day, 32)","(item_cnt_day, 33)"
0,0,5,5037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0
1,1,5,5320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5,5233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,1.0,3.0,1.0
3,3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,5,5268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
dataset.drop(['shop_id','item_id','ID'],inplace = True, axis = 1)
dataset.head()

,"(item_cnt_day, 0)","(item_cnt_day, 1)","(item_cnt_day, 2)","(item_cnt_day, 3)","(item_cnt_day, 4)","(item_cnt_day, 5)","(item_cnt_day, 6)","(item_cnt_day, 7)","(item_cnt_day, 8)","(item_cnt_day, 9)",...,"(item_cnt_day, 24)","(item_cnt_day, 25)","(item_cnt_day, 26)","(item_cnt_day, 27)","(item_cnt_day, 28)","(item_cnt_day, 29)","(item_cnt_day, 30)","(item_cnt_day, 31)","(item_cnt_day, 32)","(item_cnt_day, 33)"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,1.0,3.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# X we will keep all columns execpt the last one 
X_train = np.expand_dims(dataset.values[:,:-1],axis = 2)
# the last column is our label
y_train = dataset.values[:,-1:]

# for test we keep all the columns execpt the first one
X_test = np.expand_dims(dataset.values[:,1:],axis = 2)

# lets have a look on the shape 
print(X_train.shape,y_train.shape,X_test.shape)

(214200, 33, 1) (214200, 1) (214200, 33, 1)

In [26]:
# importing libraries required for our model
from keras.models import Sequential
from keras.layers import LSTM,Dense,Dropout, ConvLSTM2D

In [33]:
my_model = Sequential()
#my_model.add(LSTM(units = 64,input_shape = (33,1)))
my_model.add(ConvLSTM2D(filters = 64, strides=(1, 1), kernel_size = 1, input_shape = (33,1)))
my_model.add(Dropout(0.4))
my_model.add(Dense(1))

my_model.compile(loss = 'mse',optimizer = 'adam', metrics = ['mean_squared_error'])
my_model.summary()

ValueError: Input 0 is incompatible with layer conv_lst_m2d_3: expected ndim=5, found ndim=3

In [22]:
my_model.fit(X_train,y_train,batch_size = 4096,epochs = 100)

Epoch 1/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.5884 - mean_squared_error: 29.5884
Epoch 2/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.3899 - mean_squared_error: 29.3899
Epoch 3/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.3841 - mean_squared_error: 29.3841
Epoch 4/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.3045 - mean_squared_error: 29.3045
Epoch 5/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.3099 - mean_squared_error: 29.3099
Epoch 6/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.1989 - mean_squared_error: 29.1989
Epoch 7/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.1953 - mean_squared_error: 29.1953
Epoch 8/100
214200/214200 [==============================] - 5s 24us/step - loss: 29.2178 - mean_squared_error: 29.2178
Epoch 9/100
214200/214200 [==============================] - 5s 24us/step - loss: 29.1239 - mean_squared_error: 29.1239
Epoch 10/100
214200/214200 [==============================] - 5s 24us/step - loss: 29.0557 - mean_squared_error: 29.0557
Epoch 11/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.0881 - mean_squared_error: 29.0881
Epoch 12/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.9260 - mean_squared_error: 28.9260
Epoch 13/100
214200/214200 [==============================] - 5s 23us/step - loss: 29.0205 - mean_squared_error: 29.0205
Epoch 14/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.9495 - mean_squared_error: 28.9495
Epoch 15/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.8935 - mean_squared_error: 28.8935
Epoch 16/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.9562 - mean_squared_error: 28.9562
Epoch 17/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.9004 - mean_squared_error: 28.9004
Epoch 18/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.9597 - mean_squared_error: 28.9597
Epoch 19/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.8314 - mean_squared_error: 28.8314
Epoch 20/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.8067 - mean_squared_error: 28.8067
Epoch 21/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.8621 - mean_squared_error: 28.8621
Epoch 22/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.7375 - mean_squared_error: 28.7375
Epoch 23/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.7657 - mean_squared_error: 28.7657
Epoch 24/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.7448 - mean_squared_error: 28.7448
Epoch 25/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.6899 - mean_squared_error: 28.6899
Epoch 26/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.8253 - mean_squared_error: 28.8253
Epoch 27/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.9155 - mean_squared_error: 28.9155
Epoch 28/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.8399 - mean_squared_error: 28.8399
Epoch 29/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.8244 - mean_squared_error: 28.8244
Epoch 30/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.8433 - mean_squared_error: 28.8433
Epoch 31/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.7556 - mean_squared_error: 28.7556
Epoch 32/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.5756 - mean_squared_error: 28.5756
Epoch 33/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.5427 - mean_squared_error: 28.5427
Epoch 34/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.6502 - mean_squared_error: 28.6502
Epoch 35/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.5533 - mean_squared_error: 28.5533
Epoch 36/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.3994 - mean_squared_error: 28.3994
Epoch 37/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.3716 - mean_squared_error: 28.3716
Epoch 38/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.3983 - mean_squared_error: 28.3983
Epoch 39/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.4589 - mean_squared_error: 28.4589
Epoch 40/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.6557 - mean_squared_error: 28.6557
Epoch 41/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.5198 - mean_squared_error: 28.5198
Epoch 42/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.6953 - mean_squared_error: 28.6953
Epoch 43/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.5733 - mean_squared_error: 28.5733
Epoch 44/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.5178 - mean_squared_error: 28.5178
Epoch 45/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.2911 - mean_squared_error: 28.2911
Epoch 46/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.3889 - mean_squared_error: 28.3889
Epoch 47/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.4038 - mean_squared_error: 28.4038
Epoch 48/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.1704 - mean_squared_error: 28.1704
Epoch 49/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.1691 - mean_squared_error: 28.1691
Epoch 50/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.2338 - mean_squared_error: 28.2338
Epoch 51/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.4034 - mean_squared_error: 28.4034
Epoch 52/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.4775 - mean_squared_error: 28.4775
Epoch 53/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.3839 - mean_squared_error: 28.3839
Epoch 54/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.3339 - mean_squared_error: 28.3339
Epoch 55/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.2180 - mean_squared_error: 28.2180
Epoch 56/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.0394 - mean_squared_error: 28.0394
Epoch 57/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.2157 - mean_squared_error: 28.2157
Epoch 58/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.0876 - mean_squared_error: 28.0876
Epoch 59/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.1072 - mean_squared_error: 28.1072
Epoch 60/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.3072 - mean_squared_error: 28.3072
Epoch 61/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.7161 - mean_squared_error: 27.7161
Epoch 62/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.7886 - mean_squared_error: 27.7886
Epoch 63/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.8641 - mean_squared_error: 27.8641
Epoch 64/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.0136 - mean_squared_error: 28.0136
Epoch 65/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.8020 - mean_squared_error: 27.8020
Epoch 66/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.9105 - mean_squared_error: 27.9105
Epoch 67/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.1780 - mean_squared_error: 28.1780
Epoch 68/100

214200/214200 [==============================] - 5s 22us/step - loss: 27.6227 - mean_squared_error: 27.6227
Epoch 69/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.0560 - mean_squared_error: 28.0560
Epoch 70/100
214200/214200 [==============================] - 5s 24us/step - loss: 27.8269 - mean_squared_error: 27.8269
Epoch 71/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.9857 - mean_squared_error: 27.9857
Epoch 72/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.1602 - mean_squared_error: 28.1602
Epoch 73/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.9113 - mean_squared_error: 27.9113
Epoch 74/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.7011 - mean_squared_error: 27.7011
Epoch 75/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.8384 - mean_squared_error: 27.8384
Epoch 76/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.8853 - mean_squared_error: 27.8853
Epoch 77/100
214200/214200 [==============================] - 5s 23us/step - loss: 28.0678 - mean_squared_error: 28.0678
Epoch 78/100
214200/214200 [==============================] - 5s 24us/step - loss: 28.0116 - mean_squared_error: 28.0116
Epoch 79/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.1597 - mean_squared_error: 28.1597
Epoch 80/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.7132 - mean_squared_error: 27.7132
Epoch 81/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.8790 - mean_squared_error: 27.8790
Epoch 82/100
214200/214200 [==============================] - 5s 22us/step - loss: 28.1752 - mean_squared_error: 28.1752
Epoch 83/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.6194 - mean_squared_error: 27.6194
Epoch 84/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.7762 - mean_squared_error: 27.7762
Epoch 85/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.5828 - mean_squared_error: 27.5828
Epoch 86/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.5931 - mean_squared_error: 27.5931
Epoch 87/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.3328 - mean_squared_error: 27.3328
Epoch 88/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.7369 - mean_squared_error: 27.7369
Epoch 89/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.4846 - mean_squared_error: 27.4846
Epoch 90/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.5360 - mean_squared_error: 27.5360
Epoch 91/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.7707 - mean_squared_error: 27.7707
Epoch 92/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.6166 - mean_squared_error: 27.6166
Epoch 93/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.7148 - mean_squared_error: 27.7148
Epoch 94/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.6005 - mean_squared_error: 27.6005
Epoch 95/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.6950 - mean_squared_error: 27.6950
Epoch 96/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.7424 - mean_squared_error: 27.7424
Epoch 97/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.3806 - mean_squared_error: 27.3806
Epoch 98/100
214200/214200 [==============================] - 5s 22us/step - loss: 27.2734 - mean_squared_error: 27.2734
Epoch 99/100
214200/214200 [==============================] - 5s 23us/step - loss: 27.2763 - mean_squared_error: 27.2763
Epoch 100/100
214200/214200 [==============================] - 5s 25us/step - loss: 27.2808 - mean_squared_error: 27.2808

In [23]:
# creating submission file 
submission_pfs = my_model.predict(X_test)
# we will keep every value between 0 and 20
submission_pfs = submission_pfs.clip(0,20)
# creating dataframe with required columns 
submission = pd.DataFrame({'ID':test_data['ID'],'item_cnt_month':submission_pfs.ravel()})
# creating csv file from dataframe
submission.to_csv('sub_pfs.csv',index = False)